@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    height: 100vh;
}

.container {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    height: 100vh;
    overflow: scroll;
}

.navbar {
    position: fixed;
    color: #fff;
    top: 0;
    width: 100vw;
    height: 7vh;
    padding: 0 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.1s ease-in-out;
    background-color: transparent;
}

.navbar-scrolled {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    font-weight: 500;
    line-height: 1.7;
    text-decoration-thickness: 0px;
    text-underline-offset: 0px;
    transition: all 0.1s;
}

.navbar .logo a {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}

.navbar .content {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.navbar .content a:hover,
.navbar .content .active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
}

.navbar .menu {
    display: none;
}

.navbar .menu .bar1,
.navbar .menu .bar2,
.navbar .menu .bar3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.navbar .menu-open .bar1 {
    transform: translate(4.41px, 0) rotate(45deg);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.navbar .menu-open .bar2 {
    opacity: 0;
}

.navbar .menu-open .bar3 {
    transform: translate(4.41px, 0) rotate(-45deg);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.navbar .menu:hover {
    cursor: pointer;
}

.navbar .menu .content {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    top: 8vh;
    right: 6vw;
    width: 100px;
    background-color: #000;
    border-radius: 10px;
    z-index: 1;
    padding: 5vh 5vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero-section {
    background: #3c435080 url('https://cdn2.hubspot.net/hubfs/273774/mp/themes/Act-Theme/images/act-theme-home-hero-banner-2_optimized.jpg');
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

.hero-section h1 {
    font-size: 92px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}


.hero-section h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-section p {
    width: 850px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7;
    margin-bottom: 20px auto;
    text-align: center;
}

@media screen and (max-width: 1280px) {
    .hero-section h1 {
        font-size: 72px;
    }

    .hero-section h2 {
        font-size: 20px;
    }

    .hero-section p {
        width: 560px;
        font-size: 16px;
    }
}

@media screen and (max-width: 760px) {
    .hero-section h1 {
        font-size: 52px;
    }

    .hero-section h2 {
        font-size: 15px;
    }

    .hero-section p {
        width: 300px;
        font-size: 10px;
    }

    .navbar .content {
        display: none;
    }

    .navbar .menu {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .hero-section h1 {
        font-size: 42px;
    }

    .hero-section h2 {
        font-size: 12px;
    }

    .hero-section p {
        width: 250px;
    }

}

.blog-section {
    width: 100vw;
    height: 100vh;
    color: #333c4e;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    scroll-snap-align: start;
    padding: 15vh 0;
}

.blog-section h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 auto;
}

.blog-posts {
    height: 50vh;
    width: 70vw;
    margin: auto 15vw;
    display: flex;
    background: #fff;
    display: flex;
    flex-direction: row;
    gap: 4vw;
    justify-content: space-around;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

/* @media screen and (max-width: 1024px) {
    .blog-posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .blog-posts {
        grid-template-columns: repeat(1, 1fr);
    }
} */

.blog-post {
    width: 250px;
    height: 48vh;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    scroll-snap-align: center;
}

.blog-post .cover {
    width: 250px;
    height: 200px;
}

.blog-post .cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-post .content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.blog-post .content p {
    font-size: 14px;
    color: #a4abae;
    font-weight: 500;
    line-height: 1.7;
}

.blog-post .content a {
    color: #30bcb0;
    text-decoration: underline;
}